

.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}

.nav .logo {
    font-weight: 600;
    font-size: 25px;
    color: #ec1468;
}

.nav .nav_but a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    font-size: 18px;
    color: black;
}